html {
    font-size: 18px;
    font-family: $mediumHank;
    height: -webkit-fill-available;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        min-width: 100%;
        min-height: 100%;
        background: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: .5rem 0;
        
        li {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1.5rem 0;
            padding: 0.25rem 1rem;
            border-radius: 1rem;
            
            .score__by {
                animation: appearing 1s linear 1;
            }

            p {
                &:last-child {
                    color: black;
                    font-family: $boldHank;
                     span {
                        font-family: $mediumHank;
                        opacity: .5;
                     }
                }
            }

            &:nth-child(1) {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $lightred;
                color: $lightred;
            }

            &:nth-child(2) {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $orangeyellow;
                color: $orangeyellow;
            }

            &:nth-child(3) {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $greenteal;
                color: $greenteal;
            }

            &:nth-child(4) {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $cobaltblue;
                color: $cobaltblue;
            }
        }
    }

    button {
        width: 100%;
        border-radius: 50px;
        padding: 1rem;
        color: $white;
        background: #303B59;
        border: none;
        cursor: pointer;
    }
}

#scoring {
    max-height: 40%;
    width: 100%;
    background: linear-gradient(180deg, $lightslatebluebg 0%, $lightslatebluebg 0.01%, $lightroyalbluebg 100%);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);

    p {
        text-align: center;
        color: $paleblue;
    }

    .result__title {
        color: $lightlavender;
    }

    #score {
        background: linear-gradient($violetbluecircle, $persianbluecircle);
        border-radius: 100%;
        padding: 2rem;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0;
            
            &:first-child {
                color: $paleblue;
                font-family: $extraHank;
                font-size: 3rem;
            }

            &:last-child {
                font-size: .8rem;
                opacity: .5;
            }
        }
    }

    .quote {
        opacity: 0;
        width: 70%;
        margin-bottom: 1.5rem;

        .is__great {
            font-family: $boldHank;
            color: $paleblue;
            font-size: 1.2rem;
            margin-bottom: .8rem;
        }

        .resume__score {
            color: $lightlavender;
            font-size: .8rem;
            margin-top: 0;
        }

    }
}

#summary {
    max-height: 60%;
    width: 85%;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title___summary {
        align-self: flex-start;
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    .title__svg {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            margin-right: .5rem;
        }
    }
}

@include desktop {
    body {
        main {
            max-width: 70%;
            min-width: 60%;
            min-height: 40%;
            max-height: 100%;
            flex-direction: row;
            border-radius: 32px;
            box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
        }

        ul {
            margin: 1rem 0;

            li {
                margin: 1rem 0;
            }
        }

        button {
            padding: 1.25rem;

            &:hover {
                background: linear-gradient(180deg, $lightslatebluebg 0%, $lightslatebluebg 0.01%, $lightroyalbluebg 100%);
            }
        }
    }

    #scoring {
        width: 50%;
        min-height: 100%;
        border-radius: 32px;
        box-shadow: none;
        gap: 2rem;
        padding: 1rem 0;

        #score {
            padding: 3rem;
    
            p {
                
                &:first-child {
                    font-size: 4rem;
                }
    
                &:last-child {
                    font-size: 1.2rem;
                }
            }
        }

        .result__title {
            font-size: 1.2rem;
        }
    
        .quote {
            .is__great {
                font-size: 1.7rem;
            }
    
        }
    }

    #summary {
        width: 50%;
        padding: 1rem 1.5rem;
    }
}

// ===== ANIMATION ===== //
@keyframes appearing {
    0% {opacity: 0;}
    100% {opacity: 1;}
}