@font-face {
    font-family: "Hank Medium";
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Hank Bold";
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Hank Extra Bold";
    src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
}

// ../../assets/fonts/static/HankenGrotesk-Medium.ttf