// ================= COLORS ================= //
// Primary
$lightred: hsl(0, 100%, 67%);
$orangeyellow: hsl(39, 100%, 56%);
$greenteal: hsl(166, 100%, 37%);
$cobaltblue: hsl(234, 85%, 45%);

// Gradients
$lightslatebluebg: hsl(252, 100%, 67%);
$lightroyalbluebg: hsl(241, 81%, 54%);

$violetbluecircle: hsla(256, 72%, 46%, 1);
$persianbluecircle: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$paleblue: hsl(221, 100%, 96%);
$lightlavender: hsl(241, 100%, 89%);
// ========================================== //

// ================= FONTS ================= //
$mediumHank: "Hank Medium";
$boldHank: "Hank Bold";
$extraHank: "Hank Extra Bold";